.container {
  width: 100%;
  min-height: auto;
  padding: 0;

  .header {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    button {
      width: auto;
      height: 40px;
      padding: 10px 10px;
      border: 1px solid gray;
      border-radius: 8px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      cursor: pointer;
      line-height: 18px;
      font-size: 1.1rem;
      font-family: 'Prompt';
      color: black;
      background: white;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      transition: all 0.5s ease !important;

      &:hover {
        transform: scale(0.95) translateZ(0) !important;
      }

    }

    .active {
      background: gray;
      color: white;
    }
  }

  .main {
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }


}

